{% extends 'base.html' %}

{% block title %}

    Names

{% endblock %}

{% block content_title %}

    Вже бачилися з

{% endblock %}

{% block content %}


    {% for user in users.items %}

        <div class="my-4">
            {{ user.user_name }}
        </div>

    {% endfor %}


    <div>
        <ul class="pagination justify-content-center">

            <li class="page-item { '' if users.has_prev else 'disabled' }} ">
                <a class="page-link" href="{{ url_for('list_names', page=users.prev_num ) }}">Previous</a>
            </li>
            {% if users.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('list_names', page=users.prev_num ) }}">{{ users.prev_num }}</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="{{ url_for('list_names', page=users.page) }}">{{ users.page }}</a>
            </li>

            {% if users.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('list_names', page=users.next_num) }}">{{ users.next_num }}</a>
                </li>
            {% endif %}

            <li class="page-item {{ '' if users.has_next else 'disabled' }} ">
                {% if users.has_next %}
                    <a class="page-link" href="{{ url_for('list_names', page=users.next_num) }}">Next</a>
                {% else %}<p class="page-link">Next</p>
                {% endif %}
            </li>

        </ul>
    </div>

{% endblock %}
